.container {
    background-image: url("/images/competition-hero.png");
    background-size: cover;

    color: #fff;
    height: 100vh;

}

.bePart {
    font-family: 'Ubuntu Regular';
    font-size: 1.875rem;
}



.biggestEvent {
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 3rem;
    font-weight: 900;
}

.registerButton {
    font-family: 'Montserrat Bold';
    margin-top: 2.5%;
    width: 20rem;
    height: 4rem;
    border-radius: 10px;
    background-color: #FBA456;
    font-size: 1.5rem;
    font-weight: 800;
    filter: drop-shadow(4px 4px 4px rgba(255, 255, 255, 0.32));
}