.count{

background: rgba(192, 69, 121, 0.72);
border-radius: 10px;
}

.count2{

    background: #CD99CF;
    border-radius: 10px;
    }
    

.UbuntuWhiteBig{

text-align: center;
font-style: normal;
font-weight: bold;

justify-content: center;

color: #FFFFFF;
}

.UbuntuWhiteSmall{
text-align: center;
font-style: normal;
font-weight: 300;
color: #FFFFFF;
}

.MonserratWhiteMiddle{

font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 37px;
letter-spacing: 0.25px;

color: white;
}