

.flex{
    background-color: #925FB2;
}
.MonstserratPurple{

    font-style: ExtraBold;
    font-weight: 800;

    color: #925FB2;

}

.MonstserratWhite{

    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 29px;
    color: white;
    letter-spacing: 0.25px;
}

.UbuntuWhite{

    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    
    color: #FFFFFF;
}

.PoppinsWhite{


padding-bottom: 1rem;
line-height: 100%;
color: #FFFFFF;




}

.heights{
    height: 100vh;

}