.body{

/* Radial Instagram */
top:0;
background: radial-gradient(110.52% 110.52% at 100% -7.91%, #E48648 0%, #B04C77 35.42%, #8A64AD 70.31%, #6797D8 97.92%);
}

.page{

    margin: 1.5rem;
}

.test{
    max-width: 695px;
    border: 2px solid white;

}
.test2{
    max-width: 538px;
    border: 2px solid white;
}

// .text{
//     position: relative;


// font-family: Montserrat;
// font-style: normal;
// font-size: 2.25rem; line-height: 2.5rem;
// margin-bottom: 1.5rem;
// color: #132B50;

// }

// .formLogin{
//     display: flex;
//     flex-direction: column;
// }

// .labelLogin{
//     position: relative;
// margin-bottom: 0.5rem;
// font-family: Montserrat;
// font-size: 1.125rem;


// color: #132B50;

// }

// .formLogin{
//     width: 100%;
//     padding-left: 1.5rem;
// padding-right: 1.5rem;
// padding-top: 0.75rem;
// padding-bottom: 0.75rem;
// --tw-border-opacity: 1;
// border-color: rgba(75, 85, 99, var(--tw-border-opacity));

// }
// .formInput:focus{
//     outline: 2px solid transparent;
//     outline-offset: 2px;

// }

// .formInput:focus{
//     border-color: #38b2ac;
// }

// .submitButton{
//     background-color: #ed8936;
//     color: white;
// width: 100%;
// padding-left: 1.5rem;
// padding-right: 1.5rem;
// padding-top: 0.75rem;
// padding-bottom: 0.75rem;
//     transition-property: all;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     transition-duration: 200ms;
//     --tw-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
// box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);


// }

// .submitButton:hover{
//     background-color: #f6ad55;
// }