.container {
    background-size: cover;
    background-color: #925FB2;
    color: white;


}

.timelineTitle {
    font-size: 2.5rem;
    font-family: 'Montserrat Bold', sans-serif;
    margin: 4% 8% 1%;
    text-align: center;
    padding-top: 3rem;

}