.container {

    background-size: cover;
    padding: 5% 0% 5% 10%;
    color: #fff;
}

.MontserratPurpleBig{

font-style: normal;
font-weight: 800;


color: #925FB2;

}

.UbuntuPurple{

font-style: normal;
font-weight: 300;


color: #925FB2;

}